# Core OCR and Image Processing
pytesseract==0.3.10
numpy>=2.1
Pillow>=10.3
python-dotenv==1.0.0  # for environment variables
tqdm==4.65.0  # for progress bars


# Arabic Text Processing
arabic-reshaper==3.0.0
python-bidi==0.4.2
langdetect==1.0.9

# GUI
PyQt6==6.5.2

# Document Processing
pdf2image==1.16.3
python-docx==0.8.11
openpyxl==3.1.2

# Data Analysis and Visualization
pandas>=2.2
matplotlib>=3.9
seaborn>=0.13

# Testing
pytest==7.4.0
pytest-benchmark==4.0.0
pytest-cov==4.1.0

# Development Tools
black==23.7.0
mypy==1.4.1
pylint==2.17.5
opencv-python>=4.12,<5

opencv-python-headless

numpy
